@font-face {
  font-family: 'RobotoMono-Regular';
  font-weight: 400;
  src: local('RobotoMono-Regular'), url(./assets/fonts/RobotoMono-Regular.woff2) format('woff2');
}
@font-face {
  font-family: 'RobotoCondensed-Regular';
  font-weight: 400;
  src: local('RobotoCondensed-Regular'), url(./assets/fonts/RobotoCondensed-Regular.woff2) format('woff2');
}
@font-face {
  font-family: 'Montserrat-Medium';
  font-weight: 500;
  src: local('Montserrat-Medium'), url(./assets/fonts/Montserrat-Medium.woff2) format('woff2');
}
@font-face {
  font-family: 'Montserrat-Bold';
  font-weight: 700;
  src: local('Montserrat-Bold'), url(./assets/fonts/Montserrat-Bold.woff2) format('woff2');
}